.green-uppercase
{
    color: red;
    text-transform: uppercase;
}
#greentitle
{
    color: green;
}
#bluetitle
{
    color: blue;
}
.blue-uppercase
{
    color:brown;
    text-transform: uppercase;
}
.dodgerblue
{
    color: dodgerblue;
}
.yellow
{
    color: yellow;
}
.red
{
    color: red;
}
.uppercase
{
    text-transform: uppercase;
}
#uppercase
{
    text-transform: uppercase;
}
.cyan
{
    color: cyan;
}
